In [1]:
import pandas as pd

In [34]:
df = pd.read_excel(r'../icu/res53-tb09_formatted.xlsx')

In [35]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,รวมเตียง ICU,Unnamed: 4,กระทรวงสาธารณสุข,Unnamed: 6,กระทรวงอื่นๆ,Unnamed: 8,รัฐวิสาหกิจ,Unnamed: 10,หน่วยราชการอิสระ,Unnamed: 12,องค์การบริหารส่วนท้องถิ่น,Unnamed: 14,เอกชน,Unnamed: 16
0,NaN,NaN,NaN,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง,จำนวนแห่ง,จำนวนเตียง
1,กรุงเทพฯ,กรุงเทพฯ,รวมภาค,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
2,NaN,NaN,รวมเขต,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
3,NaN,NaN,กรุงเทพมหานคร,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
4,ภาคกลาง,ภาคกลาง,รวมภาค,140,2805,52,956,9,516,0,0,2,30,0,0,77,1303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,เขต 8,รวมเขต,12,302,7,168,1,106,0,0,0,0,0,0,4,28
96,NaN,NaN,สงขลา,6,196,2,64,1,106,0,0,0,0,0,0,3,26
97,NaN,NaN,สตูล,1,8,1,8,0,0,0,0,0,0,0,0,0,0
98,NaN,NaN,ยะลา,3,62,2,60,0,0,0,0,0,0,0,0,1,2
99,NaN,NaN,นราธิวาส,2,36,2,36,0,0,0,0,0,0,0,0,0,0

In [40]:
h1 = [x if 'Unnamed' not in x else None for x in df.columns.to_list()[3:]]

In [42]:
header = pd.Series(h1); header

0                  รวมเตียง ICU
1                          None
2              กระทรวงสาธารณสุข
3                          None
4                  กระทรวงอื่นๆ
5                          None
6                   รัฐวิสาหกิจ
7                          None
8              หน่วยราชการอิสระ
9                          None
10    องค์การบริหารส่วนท้องถิ่น
11                         None
12                        เอกชน
13                         None
dtype: object

In [46]:
header2 = df.iloc[0,3:]; 
header2

รวมเตียง ICU                 จำนวนแห่ง
Unnamed: 4                   จำนวนเตียง
กระทรวงสาธารณสุข             จำนวนแห่ง
Unnamed: 6                   จำนวนเตียง
กระทรวงอื่นๆ                 จำนวนแห่ง
Unnamed: 8                   จำนวนเตียง
รัฐวิสาหกิจ                  จำนวนแห่ง
Unnamed: 10                  จำนวนเตียง
หน่วยราชการอิสระ             จำนวนแห่ง
Unnamed: 12                  จำนวนเตียง
องค์การบริหารส่วนท้องถิ่น    จำนวนแห่ง
Unnamed: 14                  จำนวนเตียง
เอกชน                        จำนวนแห่ง
Unnamed: 16                  จำนวนเตียง
Name: 0, dtype: object

In [52]:
header = header.fillna(method='ffill')

In [55]:
header

0                  รวมเตียง ICU
1                  รวมเตียง ICU
2              กระทรวงสาธารณสุข
3              กระทรวงสาธารณสุข
4                  กระทรวงอื่นๆ
5                  กระทรวงอื่นๆ
6                   รัฐวิสาหกิจ
7                   รัฐวิสาหกิจ
8              หน่วยราชการอิสระ
9              หน่วยราชการอิสระ
10    องค์การบริหารส่วนท้องถิ่น
11    องค์การบริหารส่วนท้องถิ่น
12                        เอกชน
13                        เอกชน
dtype: object

In [57]:
header.reset_index(drop=True)

0                  รวมเตียง ICU
1                  รวมเตียง ICU
2              กระทรวงสาธารณสุข
3              กระทรวงสาธารณสุข
4                  กระทรวงอื่นๆ
5                  กระทรวงอื่นๆ
6                   รัฐวิสาหกิจ
7                   รัฐวิสาหกิจ
8              หน่วยราชการอิสระ
9              หน่วยราชการอิสระ
10    องค์การบริหารส่วนท้องถิ่น
11    องค์การบริหารส่วนท้องถิ่น
12                        เอกชน
13                        เอกชน
dtype: object

In [59]:
header2.reset_index(drop=True)

0     จำนวนแห่ง
1     จำนวนเตียง
2     จำนวนแห่ง
3     จำนวนเตียง
4     จำนวนแห่ง
5     จำนวนเตียง
6     จำนวนแห่ง
7     จำนวนเตียง
8     จำนวนแห่ง
9     จำนวนเตียง
10    จำนวนแห่ง
11    จำนวนเตียง
12    จำนวนแห่ง
13    จำนวนเตียง
Name: 0, dtype: object

In [61]:
header_df = pd.concat([header.reset_index(drop=True), header2.reset_index(drop=True)], axis=1); header_df

                            0           0
0                รวมเตียง ICU  จำนวนแห่ง
1                รวมเตียง ICU  จำนวนเตียง
2            กระทรวงสาธารณสุข  จำนวนแห่ง
3            กระทรวงสาธารณสุข  จำนวนเตียง
4                กระทรวงอื่นๆ  จำนวนแห่ง
5                กระทรวงอื่นๆ  จำนวนเตียง
6                 รัฐวิสาหกิจ  จำนวนแห่ง
7                 รัฐวิสาหกิจ  จำนวนเตียง
8            หน่วยราชการอิสระ  จำนวนแห่ง
9            หน่วยราชการอิสระ  จำนวนเตียง
10  องค์การบริหารส่วนท้องถิ่น  จำนวนแห่ง
11  องค์การบริหารส่วนท้องถิ่น  จำนวนเตียง
12                      เอกชน  จำนวนแห่ง
13                      เอกชน  จำนวนเตียง

In [17]:
header_df.iloc[0,:2] = 'รวมทั้งหมด'

In [66]:
header = header_df.apply(lambda x: '_'.join(x), axis = 1).to_list()

In [67]:
header

['รวมเตียง ICU_จำนวนแห่ง ',
 'รวมเตียง ICU_จำนวนเตียง',
 'กระทรวงสาธารณสุข_จำนวนแห่ง ',
 'กระทรวงสาธารณสุข_จำนวนเตียง',
 'กระทรวงอื่นๆ_จำนวนแห่ง ',
 'กระทรวงอื่นๆ_จำนวนเตียง',
 'รัฐวิสาหกิจ_จำนวนแห่ง ',
 'รัฐวิสาหกิจ_จำนวนเตียง',
 'หน่วยราชการอิสระ_จำนวนแห่ง ',
 'หน่วยราชการอิสระ_จำนวนเตียง',
 'องค์การบริหารส่วนท้องถิ่น_จำนวนแห่ง ',
 'องค์การบริหารส่วนท้องถิ่น_จำนวนเตียง',
 'เอกชน_จำนวนแห่ง ',
 'เอกชน_จำนวนเตียง']

In [68]:
len(df.columns), len(header)

(17, 14)

In [69]:
['ภาค', 'เขต', 'จังหวัด'] + header

['ภาค',
 'เขต',
 'จังหวัด',
 'รวมเตียง ICU_จำนวนแห่ง ',
 'รวมเตียง ICU_จำนวนเตียง',
 'กระทรวงสาธารณสุข_จำนวนแห่ง ',
 'กระทรวงสาธารณสุข_จำนวนเตียง',
 'กระทรวงอื่นๆ_จำนวนแห่ง ',
 'กระทรวงอื่นๆ_จำนวนเตียง',
 'รัฐวิสาหกิจ_จำนวนแห่ง ',
 'รัฐวิสาหกิจ_จำนวนเตียง',
 'หน่วยราชการอิสระ_จำนวนแห่ง ',
 'หน่วยราชการอิสระ_จำนวนเตียง',
 'องค์การบริหารส่วนท้องถิ่น_จำนวนแห่ง ',
 'องค์การบริหารส่วนท้องถิ่น_จำนวนเตียง',
 'เอกชน_จำนวนแห่ง ',
 'เอกชน_จำนวนเตียง']

In [70]:
df.columns = ['ภาค', 'เขต', 'จังหวัด'] + header

In [73]:
df = df.drop(0)

In [76]:
df[['ภาค', 'เขต']] = df[['ภาค', 'เขต']].fillna(method='ffill')

In [79]:
df

,ภาค,เขต,จังหวัด,รวมเตียง ICU_จำนวนแห่ง,รวมเตียง ICU_จำนวนเตียง,กระทรวงสาธารณสุข_จำนวนแห่ง,กระทรวงสาธารณสุข_จำนวนเตียง,กระทรวงอื่นๆ_จำนวนแห่ง,กระทรวงอื่นๆ_จำนวนเตียง,รัฐวิสาหกิจ_จำนวนแห่ง,รัฐวิสาหกิจ_จำนวนเตียง,หน่วยราชการอิสระ_จำนวนแห่ง,หน่วยราชการอิสระ_จำนวนเตียง,องค์การบริหารส่วนท้องถิ่น_จำนวนแห่ง,องค์การบริหารส่วนท้องถิ่น_จำนวนเตียง,เอกชน_จำนวนแห่ง,เอกชน_จำนวนเตียง
1,กรุงเทพฯ,กรุงเทพฯ,รวมภาค,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
2,กรุงเทพฯ,กรุงเทพฯ,รวมเขต,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
3,กรุงเทพฯ,กรุงเทพฯ,กรุงเทพมหานคร,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
4,ภาคกลาง,ภาคกลาง,รวมภาค,140,2805,52,956,9,516,0,0,2,30,0,0,77,1303
5,ภาคกลาง,เขต 1,รวมเขต,30,1109,10,231,2,45,0,0,0,0,0,0,18,833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ภาคใต้,เขต 8,รวมเขต,12,302,7,168,1,106,0,0,0,0,0,0,4,28
96,ภาคใต้,เขต 8,สงขลา,6,196,2,64,1,106,0,0,0,0,0,0,3,26
97,ภาคใต้,เขต 8,สตูล,1,8,1,8,0,0,0,0,0,0,0,0,0,0
98,ภาคใต้,เขต 8,ยะลา,3,62,2,60,0,0,0,0,0,0,0,0,1,2
99,ภาคใต้,เขต 8,นราธิวาส,2,36,2,36,0,0,0,0,0,0,0,0,0,0

In [86]:
df = df[(df['จังหวัด'] != 'รวมภาค') & (df['จังหวัด'] != 'รวมเขต')]

In [87]:
df

,ภาค,เขต,จังหวัด,รวมเตียง ICU_จำนวนแห่ง,รวมเตียง ICU_จำนวนเตียง,กระทรวงสาธารณสุข_จำนวนแห่ง,กระทรวงสาธารณสุข_จำนวนเตียง,กระทรวงอื่นๆ_จำนวนแห่ง,กระทรวงอื่นๆ_จำนวนเตียง,รัฐวิสาหกิจ_จำนวนแห่ง,รัฐวิสาหกิจ_จำนวนเตียง,หน่วยราชการอิสระ_จำนวนแห่ง,หน่วยราชการอิสระ_จำนวนเตียง,องค์การบริหารส่วนท้องถิ่น_จำนวนแห่ง,องค์การบริหารส่วนท้องถิ่น_จำนวนเตียง,เอกชน_จำนวนแห่ง,เอกชน_จำนวนเตียง
3,กรุงเทพฯ,กรุงเทพฯ,กรุงเทพมหานคร,64,1502,8,168,7,490,2,7,0,0,7,148,40,689
6,ภาคกลาง,เขต 1,นนทบุรี,8,112,3,59,1,16,0,0,0,0,0,0,4,37
7,ภาคกลาง,เขต 1,ปทุมธานี,10,135,3,54,1,29,0,0,0,0,0,0,6,52
8,ภาคกลาง,เขต 1,พระนครศรีอยุธยา,6,273,2,58,0,0,0,0,0,0,0,0,4,215
9,ภาคกลาง,เขต 1,สระบุรี,6,589,2,60,0,0,0,0,0,0,0,0,4,529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ภาคใต้,เขต 7,ตรัง,3,30,1,20,0,0,0,0,0,0,0,0,2,10
96,ภาคใต้,เขต 8,สงขลา,6,196,2,64,1,106,0,0,0,0,0,0,3,26
97,ภาคใต้,เขต 8,สตูล,1,8,1,8,0,0,0,0,0,0,0,0,0,0
98,ภาคใต้,เขต 8,ยะลา,3,62,2,60,0,0,0,0,0,0,0,0,1,2
99,ภาคใต้,เขต 8,นราธิวาส,2,36,2,36,0,0,0,0,0,0,0,0,0,0

In [88]:
df.columns

Index(['ภาค', 'เขต', 'จังหวัด', 'รวมเตียง ICU_จำนวนแห่ง ',
       'รวมเตียง ICU_จำนวนเตียง', 'กระทรวงสาธารณสุข_จำนวนแห่ง ',
       'กระทรวงสาธารณสุข_จำนวนเตียง', 'กระทรวงอื่นๆ_จำนวนแห่ง ',
       'กระทรวงอื่นๆ_จำนวนเตียง', 'รัฐวิสาหกิจ_จำนวนแห่ง ',
       'รัฐวิสาหกิจ_จำนวนเตียง', 'หน่วยราชการอิสระ_จำนวนแห่ง ',
       'หน่วยราชการอิสระ_จำนวนเตียง', 'องค์การบริหารส่วนท้องถิ่น_จำนวนแห่ง ',
       'องค์การบริหารส่วนท้องถิ่น_จำนวนเตียง', 'เอกชน_จำนวนแห่ง ',
       'เอกชน_จำนวนเตียง'],
      dtype='object')

In [89]:
from itertools import product

In [94]:
en_colname = list(map(lambda x: f'{x[0]}_{x[1]}',product(['Total', 'HealthMinistry', 'OtherMinistries', 'StateEnterprise', 'IndependentOrganization', 'LocalAdministrativeOrganization', "PrivateCompany"],['N_Hospital', 'N_ICU_BED'])))

In [95]:
en_colname

['Total_N_Hospital',
 'Total_N_ICU_BED',
 'HealthMinistry_N_Hospital',
 'HealthMinistry_N_ICU_BED',
 'OtherMinistries_N_Hospital',
 'OtherMinistries_N_ICU_BED',
 'StateEnterprise_N_Hospital',
 'StateEnterprise_N_ICU_BED',
 'IndependentOrganization_N_Hospital',
 'IndependentOrganization_N_ICU_BED',
 'LocalAdministrativeOrganization_N_Hospital',
 'LocalAdministrativeOrganization_N_ICU_BED',
 'PrivateCompany_N_Hospital',
 'PrivateCompany_N_ICU_BED']

In [96]:
df.columns = ['Region', 'SubRegion', 'Province'] + en_colname

In [98]:
df.to_csv('n_icu_bed_2553.csv')