In [20]:
from tableauscraper import TableauScraper as TS

url= "https://public.tableau.com/views/moph_covid_v3/Story1"
ts = TS()
ts.loads(url)
workbook = ts.getWorkbook()

#alias
wb = workbook

for i, t in enumerate(workbook.worksheets):
    print(f"{i} worksheet name : {t.name}") #show worksheet name
    print(t.data) #show dataframe for this worksheet

0 worksheet name : ppe_available
   SUM(Ppe Total)-alias
0                933351
1 worksheet name : respirator_available
   SUM(Ventilator)-alias
0                   9839
2 worksheet name : map_total
   Prov Name En-value Prov Name En-alias Latitude (generated)-value  \
0            Yasothon           Yasothon                    15.8189
1                Yala               Yala                     6.1478
2           Uttaradit          Uttaradit                    17.7591
3         Uthai Thani        Uthai Thani                    15.3707
4          Udon Thani         Udon Thani                    17.4469
..                ...                ...                        ...
72           Buri Ram           Buri Ram                    14.9638
73          Bueng Kan          Bueng Kan                    18.1758
74            Bangkok            Bangkok                    13.7249
75          Ang Thong          Ang Thong                    14.6212
76      Amnat Charoen      Amnat Charoen                    15.9103

   Latitude (generated)-alias Longitude (generated)-value  \
0                       15.82                    104.2734
1                        6.15                    101.2366
2                       17.76                    100.4466
3                       15.37                     99.5595
4                       17.45                    102.8325
..                        ...                         ...
72                      14.96                    103.0636
73                      18.18                    103.6605
74                      13.72                    100.6034
75                      14.62                    100.3511
76                      15.91                    104.7302

   Longitude (generated)-alias AGG(bed_percentage)-alias
0                      104.273                 95.811518
1                      101.237                 77.617329
2                      100.447                 88.548057
3                       99.560                  88.77551
4                      102.833                 85.413745
..                         ...                       ...
72                     103.064                 94.814815
73                     103.661                      72.8
74                     100.603                 91.723709
75                     100.351                    %null%
76                     104.730                 90.592334

[77 rows x 7 columns]
3 worksheet name : doughtnut_total
  AGG(min(1))-value AGG(min(1))-alias Measure Names-alias  \
0                 1                 1       เตียงพร้อมใช้
1                 1                 1      เตียงใช้ไปแล้ว

  Measure Values-alias AGG(bed_percentage)-alias
0               32,895                 82.235444
1                7,106                         0
4 worksheet name : moph_bed
   Moph-value Moph-alias Measure Names-alias Measure Values-value  \
0           7          7      เตียงใช้ไปแล้ว                  145
1          13         13      เตียงใช้ไปแล้ว                  133
2           3          3      เตียงใช้ไปแล้ว                  367
3           2          2      เตียงใช้ไปแล้ว                  307
4           4          4      เตียงใช้ไปแล้ว                  244
5          10         10      เตียงใช้ไปแล้ว                  146
6           1          1      เตียงใช้ไปแล้ว                  532
7          11         11      เตียงใช้ไปแล้ว                 1175
8           5          5      เตียงใช้ไปแล้ว                  911
9           6          6      เตียงใช้ไปแล้ว                  817
10          8          8      เตียงใช้ไปแล้ว                  577
11         12         12      เตียงใช้ไปแล้ว                 1258
12          9          9      เตียงใช้ไปแล้ว                  494
13          7          7       เตียงพร้อมใช้                 1421
14         13         13       เตียงพร้อมใช้                 1474
15          3          3       เตียงพร้อมใช้                 1335
16          2          2       เตียงพร้อมใช้                 1607
17          4          4       เตียงพร้อมใช้                 1770
18         10         10       เตียงพร้อมใช้                 1996
19          1          1       เตียงพร้อมใช้                 1670
20         11         11       เตียงพร้อมใช้                 2045
21          5          5       เตียงพร้อมใช้                 2618
22          6          6       เตียงพร้อมใช้                 3329
23          8          8       เตียงพร้อมใช้                 4034
24         12         12       เตียงพร้อมใช้                 4391
25          9          9       เตียงพร้อมใช้                 5205

   Measure Values-alias
0                   145
1                   133
2                   367
3                   307
4                   244
5                   146
6                   532
7                 1,175
8                   911
9                   817
10                  577
11                1,258
12                  494
13                1,421
14                1,474
15                1,335
16                1,607
17                1,770
18                1,996
19                1,670
20                2,045
21                2,618
22                3,329
23                4,034
24                4,391
25                5,205
5 worksheet name : N95_available
   SUM(N95)-alias
0         3638986
6 worksheet name : Mask_available
   SUM(Surgical Mask)-alias
0                  71704366
7 worksheet name : Glove_Nitrile_all
   SUM(Glove_Nitrile_all)-alias
0                       3307455
8 worksheet name : bed_total
   SUM(Bed Total)-alias
0                 40001
9 worksheet name : province_total
    Prov Name-value Prov Name-alias Measure Names-alias Measure Values-value  \
0           อ่างทอง         อ่างทอง      เตียงใช้ไปแล้ว                    0
1         สิงห์บุรี       สิงห์บุรี      เตียงใช้ไปแล้ว                    4
2         สมุทรสาคร       สมุทรสาคร      เตียงใช้ไปแล้ว                   19
3        แม่ฮ่องสอน      แม่ฮ่องสอน      เตียงใช้ไปแล้ว                   49
4             ลำพูน           ลำพูน      เตียงใช้ไปแล้ว                   63
..              ...             ...                 ...                  ...
149         ปัตตานี         ปัตตานี       เตียงพร้อมใช้                 1054
150        นราธิวาส        นราธิวาส       เตียงพร้อมใช้                 1298
151   กรุงเทพมหานคร   กรุงเทพมหานคร       เตียงพร้อมใช้                 1474
152        สุรินทร์        สุรินทร์       เตียงพร้อมใช้                 1660
153      นครราชสีมา      นครราชสีมา       เตียงพร้อมใช้                 1627

    Measure Values-alias
0                      0
1                      4
2                     19
3                     49
4                     63
..                   ...
149                1,054
150                1,298
151                1,474
152                1,660
153                1,627

[154 rows x 5 columns]
10 worksheet name : niv_available
   SUM(NIV)-alias
0            1515

In [6]:
wb.getParameters()

[]

In [3]:
province_ws = workbook.worksheets[9]
province_ws2 = workbook.getWorksheet("province_total")
province_ws is province_ws2

province_ws.data

,Prov Name-value,Prov Name-alias,Measure Names-alias,Measure Values-value,Measure Values-alias
0,อ่างทอง,อ่างทอง,เตียงใช้ไปแล้ว,0,0
1,สิงห์บุรี,สิงห์บุรี,เตียงใช้ไปแล้ว,4,4
2,สมุทรสาคร,สมุทรสาคร,เตียงใช้ไปแล้ว,19,19
3,แม่ฮ่องสอน,แม่ฮ่องสอน,เตียงใช้ไปแล้ว,49,49
4,ลำพูน,ลำพูน,เตียงใช้ไปแล้ว,63,63
...,...,...,...,...,...
149,ปัตตานี,ปัตตานี,เตียงพร้อมใช้,1054,"1,054"
150,นราธิวาส,นราธิวาส,เตียงพร้อมใช้,1298,"1,298"
151,กรุงเทพมหานคร,กรุงเทพมหานคร,เตียงพร้อมใช้,1474,"1,474"
152,สุรินทร์,สุรินทร์,เตียงพร้อมใช้,1660,"1,660"
153,นครราชสีมา,นครราชสีมา,เตียงพร้อมใช้,1627,"1,627"

In [5]:
filters = province_ws.getFilters(); filters

[]

In [4]:
selections = province_ws.getSelectableItems(); selections

[{'column': 'Prov Name',
  'values': ['อ่างทอง',
   'สิงห์บุรี',
   'สมุทรสาคร',
   'แม่ฮ่องสอน',
   'ลำพูน',
   'แพร่',
   'พังงา',
   'จันทบุรี',
   'ชัยนาท',
   'ตรัง',
   'สมุทรสงคราม',
   'นครปฐม',
   'ลพบุรี',
   'น่าน',
   'อุทัยธานี',
   'ระนอง',
   'นครนายก',
   'สระบุรี',
   'ภูเก็ต',
   'มุกดาหาร',
   'มหาสารคาม',
   'เชียงใหม่',
   'เลย',
   'ตาก',
   'อำนาจเจริญ',
   'พะเยา',
   'สมุทรปราการ',
   'สุโขทัย',
   'ปราจีนบุรี',
   'หนองคาย',
   'หนองบัวลำภู',
   'บึงกาฬ',
   'สตูล',
   'ยโสธร',
   'ลำปาง',
   'ราชบุรี',
   'สระแก้ว',
   'กำแพงเพชร',
   'เพชรบูรณ์',
   'ร้อยเอ็ด',
   'ปทุมธานี',
   'สุพรรณบุรี',
   'พิษณุโลก',
   'ฉะเชิงเทรา',
   'ชุมพร',
   'พระนครศรีอยุธยา',
   'พิจิตร',
   'ตราด',
   'ขอนแก่น',
   'นนทบุรี',
   'กาฬสินธุ์',
   'ศรีสะเกษ',
   'อุตรดิตถ์',
   'พัทลุง',
   'นครสวรรค์',
   'เพชรบุรี',
   'กระบี่',
   'ยะลา',
   'ประจวบคีรีขันธ์',
   'นครพนม',
   'เชียงราย',
   'อุบลราชธานี',
   'สุราษฎร์ธานี',
   'นครศรีธรรมราช',
   'ชัยภูมิ',
   'ชลบุรี',
   'บุรีรัมย์',
   'สงขลา',
   'ระยอง',
   'กาญจนบุรี',
   'สกลนคร',
   'อุดรธานี',
   'ปัตตานี',
   'นราธิวาส',
   'กรุงเทพมหานคร',
   'สุรินทร์',
   'นครราชสีมา',
   'อ่างทอง',
   'สิงห์บุรี',
   'สมุทรสาคร',
   'แม่ฮ่องสอน',
   'ลำพูน',
   'แพร่',
   'พังงา',
   'จันทบุรี',
   'ชัยนาท',
   'ตรัง',
   'สมุทรสงคราม',
   'นครปฐม',
   'ลพบุรี',
   'น่าน',
   'อุทัยธานี',
   'ระนอง',
   'นครนายก',
   'สระบุรี',
   'ภูเก็ต',
   'มุกดาหาร',
   'มหาสารคาม',
   'เชียงใหม่',
   'เลย',
   'ตาก',
   'อำนาจเจริญ',
   'พะเยา',
   'สมุทรปราการ',
   'สุโขทัย',
   'ปราจีนบุรี',
   'หนองคาย',
   'หนองบัวลำภู',
   'บึงกาฬ',
   'สตูล',
   'ยโสธร',
   'ลำปาง',
   'ราชบุรี',
   'สระแก้ว',
   'กำแพงเพชร',
   'เพชรบูรณ์',
   'ร้อยเอ็ด',
   'ปทุมธานี',
   'สุพรรณบุรี',
   'พิษณุโลก',
   'ฉะเชิงเทรา',
   'ชุมพร',
   'พระนครศรีอยุธยา',
   'พิจิตร',
   'ตราด',
   'ขอนแก่น',
   'นนทบุรี',
   'กาฬสินธุ์',
   'ศรีสะเกษ',
   'อุตรดิตถ์',
   'พัทลุง',
   'นครสวรรค์',
   'เพชรบุรี',
   'กระบี่',
   'ยะลา',
   'ประจวบคีรีขันธ์',
   'นครพนม',
   'เชียงราย',
   'อุบลราชธานี',
   'สุราษฎร์ธานี',
   'นครศรีธรรมราช',
   'ชัยภูมิ',
   'ชลบุรี',
   'บุรีรัมย์',
   'สงขลา',
   'ระยอง',
   'กาญจนบุรี',
   'สกลนคร',
   'อุดรธานี',
   'ปัตตานี',
   'นราธิวาส',
   'กรุงเทพมหานคร',
   'สุรินทร์',
   'นครราชสีมา']},
 {'column': 'Measure Names',
  'values': ['เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงใช้ไปแล้ว',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้',
   'เตียงพร้อมใช้']},
 {'column': 'Measure Values',
  'values': [0,
   4,
   19,
   49,
   63,
   4,
   50,
   49,
   44,
   36,
   26,
   57,
   34,
   13,
   22,
   42,
   34,
   42,
   35,
   11,
   2,
   70,
   49,
   102,
   27,
   34,
   136,
   42,
   108,
   15,
   40,
   102,
   156,
   16,
   100,
   139,
   86,
   84,
   85,
   61,
   42,
   112,
   22,
   188,
   120,
   52,
   42,
   53,
   45,
   36,
   37,
   68,
   56,
   54,
   175,
   44,
   239,
   124,
   293,
   63,
   199,
   24,
   438,
   251,
   42,
   155,
   56,
   294,
   42,
   221,
   100,
   208,
   408,
   186,
   133,
   106,
   290,
   0,
   85,
   71,
   60,
   51,
   125,
   83,
   101,
   111,
   126,
   145,
   118,
   151,
   180,
   174,
   166,
   187,
   180,
   206,
   238,
   251,
   194,
   224,
   179,
   260,
   265,
   164,
   294,
   231,
   337,
   314,
   273,
   226,
   366,
   288,
   250,
   305,
   310,
   313,
   340,
   363,
   297,
   388,
   222,
   299,
   380,
   396,
   397,
   407,
   424,
   423,
   405,
   433,
   464,
   344,
   496,
   303,
   430,
   289,
   589,
   507,
   727,
   355,
   633,
   894,
   790,
   1024,
   793,
   1119,
   952,
   1079,
   1218,
   1054,
   1298,
   1474,
   1660,
   1627]}]

In [30]:
prov_name = selections[0];
len(prov_name['values']), len(set(prov_name['values']))

(154, 77)

In [ ]:
province_ws.select("Prov Name", "สมุทรสาคร")

In [8]:
map_ws = wb.getWorksheet('map_total'); map_ws.data

,Prov Name En-value,Prov Name En-alias,Latitude (generated)-value,Latitude (generated)-alias,Longitude (generated)-value,Longitude (generated)-alias,AGG(bed_percentage)-alias
0,Yasothon,Yasothon,15.8189,15.82,104.2734,104.273,95.811518
1,Yala,Yala,6.1478,6.15,101.2366,101.237,77.617329
2,Uttaradit,Uttaradit,17.7591,17.76,100.4466,100.447,88.548057
3,Uthai Thani,Uthai Thani,15.3707,15.37,99.5595,99.560,88.77551
4,Udon Thani,Udon Thani,17.4469,17.45,102.8325,102.833,85.413745
...,...,...,...,...,...,...,...
72,Buri Ram,Buri Ram,14.9638,14.96,103.0636,103.064,94.814815
73,Bueng Kan,Bueng Kan,18.1758,18.18,103.6605,103.661,72.8
74,Bangkok,Bangkok,13.7249,13.72,100.6034,100.603,91.723709
75,Ang Thong,Ang Thong,14.6212,14.62,100.3511,100.351,%null%
76,Amnat Charoen,Amnat Charoen,15.9103,15.91,104.7302,104.730,90.592334

In [9]:
map_ws.getFilters()

[]

In [11]:
selectables = map_ws.getSelectableItems(); selectables

[{'column': 'Prov Name En',
  'values': ['Yasothon',
   'Yala',
   'Uttaradit',
   'Uthai Thani',
   'Udon Thani',
   'Ubon Ratchathani',
   'Trat',
   'Trang',
   'Tak',
   'Surin',
   'Surat Thani',
   'Suphan Buri',
   'Sukhothai',
   'Songkhla',
   'Sing Buri',
   'Si Sa Ket',
   'Satun',
   'Saraburi',
   'Samut Songkhram',
   'Samut Sakhon',
   'Samut Prakan',
   'Sakon Nakhon',
   'Sa Kaeo',
   'Roi Et',
   'Rayong',
   'Ratchaburi',
   'Ranong',
   'Prachuap Khiri Khan',
   'Prachin Buri',
   'Phuket',
   'Phrae',
   'Phra Nakhon Si Ayutthaya',
   'Phitsanulok',
   'Phichit',
   'Phetchaburi',
   'Phetchabun',
   'Phayao',
   'Phatthalung',
   'Phangnga',
   'Pattani',
   'Pathum Thani',
   'Nonthaburi',
   'Nong Khai',
   'Nong Bua Lam Phu',
   'Narathiwat',
   'Nan',
   'Nakhon Si Thammarat',
   'Nakhon Sawan',
   'Nakhon Ratchasima',
   'Nakhon Phanom',
   'Nakhon Pathom',
   'Nakhon Nayok',
   'Mukdahan',
   'Maha Sarakham',
   'Mae Hong Son',
   'Lop Buri',
   'Loei',
   'Lamphun',
   'Lampang',
   'Krabi',
   'Khon Kaen',
   'Kanchanaburi',
   'Kamphaeng Phet',
   'Kalasin',
   'Chumphon',
   'Chon Buri',
   'Chiang Rai',
   'Chiang Mai',
   'Chanthaburi',
   'Chaiyaphum',
   'Chai Nat',
   'Chachoengsao',
   'Buri Ram',
   'Bueng Kan',
   'Bangkok',
   'Ang Thong',
   'Amnat Charoen']},
 {'column': 'Latitude (generated)',
  'values': [15.8189,
   6.1478,
   17.7591,
   15.3707,
   17.4469,
   15.1558,
   12.2035,
   7.5629,
   16.5288,
   14.9046,
   9.0166,
   14.5719,
   17.2525,
   6.8002,
   14.9207,
   14.9566,
   6.8093,
   14.6584,
   13.3785,
   13.5734,
   13.5985,
   17.4316,
   13.7156,
   15.9393,
   12.8734,
   13.5547,
   10.0475,
   11.8015,
   14.0224,
   7.9792,
   18.2612,
   14.3925,
   17.0334,
   16.2863,
   12.9526,
   16.2505,
   19.2706,
   7.4931,
   8.7393,
   6.7508,
   14.0966,
   13.9646,
   17.9655,
   17.2263,
   6.1836,
   18.8276,
   8.5802,
   15.6249,
   14.966,
   17.407,
   13.9141,
   14.2366,
   16.5417,
   16.0264,
   18.7278,
   15.1988,
   17.4865,
   18.069,
   18.3151,
   8.1653,
   16.3615,
   14.6947,
   16.3854,
   16.6423,
   10.3175,
   13.0932,
   19.7341,
   18.7004,
   12.821,
   16.0318,
   15.1598,
   13.5782,
   14.9638,
   18.1758,
   13.7249,
   14.6212,
   15.9103]},
 {'column': 'Longitude (generated)',
  'values': [104.2734,
   101.2366,
   100.4466,
   99.5595,
   102.8325,
   105.1026,
   102.4186,
   99.5565,
   98.8911,
   103.6637,
   99.1137,
   100.0031,
   99.7086,
   100.6157,
   100.3027,
   104.3257,
   100.0213,
   100.9117,
   99.9529,
   100.2131,
   100.7619,
   103.6574,
   102.2775,
   103.7573,
   101.4439,
   99.6119,
   98.7677,
   99.7248,
   101.5734,
   98.3354,
   100.1642,
   100.5363,
   100.5361,
   100.343,
   99.615,
   101.038,
   100.1549,
   100.0239,
   98.419,
   101.3217,
   100.6276,
   100.3833,
   103.1681,
   102.307,
   101.7328,
   100.7959,
   99.719,
   100.3811,
   102.0706,
   104.6013,
   100.0973,
   101.1628,
   104.4802,
   103.1766,
   97.9293,
   100.9786,
   101.6439,
   98.9398,
   99.5407,
   99.0189,
   102.6764,
   99.0766,
   99.504,
   103.6746,
   99.0359,
   101.2253,
   99.8857,
   98.6186,
   102.1738,
   101.8278,
   100.0348,
   101.5642,
   103.0636,
   103.6605,
   100.6034,
   100.3511,
   104.7302]},
 {'column': 'AGG(bed_percentage)',
  'values': [95.81151832460733,
   77.61732851985559,
   88.5480572597137,
   88.77551020408163,
   85.41374474053296,
   96.80426098535287,
   88.22222222222223,
   77.77777777777777,
   63.70106761565836,
   93.99773499433749,
   44.76670870113493,
   72.61613691931541,
   87.5,
   72.95308187672494,
   95.50561797752809,
   85.62367864693447,
   59.16230366492147,
   81.08108108108108,
   84.7953216374269,
   78.88888888888889,
   54.666666666666664,
   91.51823579304495,
   78.00511508951406,
   84.78802992518703,
   96.38242894056847,
   64.26735218508998,
   79.8076923076923,
   49.65635738831615,
   68.14159292035399,
   85.47717842323651,
   96.89922480620154,
   87.96296296296296,
   94.63414634146342,
   90.41095890410959,
   91.85185185185185,
   78.64321608040201,
   88.62876254180603,
   89.57528957528957,
   62.40601503759399,
   72.09302325581395,
   89.62962962962963,
   92.17391304347827,
   95.73863636363636,
   88.70056497175142,
   87.46630727762803,
   93.26424870466322,
   71.60633484162896,
   66.28131021194605,
   84.87219613980177,
   90.33742331288343,
   67.42857142857143,
   84.61538461538461,
   95.58232931726907,
   99.2094861660079,
   55.04587155963303,
   81.62162162162163,
   82.05128205128206,
   44.73684210526316,
   74.22680412371135,
   55.904059040590404,
   90.04424778761062,
   81.15942028985508,
   78.68020304568527,
   91.95652173913044,
   71.36038186157518,
   83.5978835978836,
   71.81303116147309,
   73.48484848484848,
   67.33333333333333,
   95.51282051282051,
   71.61290322580645,
   54.146341463414636,
   94.81481481481481,
   72.8,
   91.72370877411325,
   '%null%',
   90.59233449477352]}]

In [12]:
len(selectables[0]['values'])

77

In [14]:
map_ws.select('Prov Name En', 'Yala')

TypeError: 'NoneType' object is not subscriptable

In [21]:
wb.getStoryPoints()

{'storyBoard': 'Story 1',
 'storyPoints': [[{'storyPointId': 12, 'storyPointCaption': ' ทรัพยากรภาพรวม'},
   {'storyPointId': 1, 'storyPointCaption': '          เตียง'},
   {'storyPointId': 2, 'storyPointCaption': '    หน้ากาก N95 '},
   {'storyPointId': 3, 'storyPointCaption': '    หน้ากากอนามัย'},
   {'storyPointId': 4, 'storyPointCaption': 'ชุด PPE (Cover all)'},
   {'storyPointId': 5, 'storyPointCaption': '         NIV'},
   {'storyPointId': 6, 'storyPointCaption': '     VENTILATOR'}]]}

In [22]:
sp = wb.goToStoryPoint(storyPointId=12)

In [23]:
dir(sp)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_originalData',
 '_originalInfo',
 '_scraper',
 'cmdResponse',
 'getCrossTabData',
 'getCsvData',
 'getDownloadableData',
 'getParameters',
 'getSheets',
 'getStoryPoints',
 'getWorksheet',
 'getWorksheetNames',
 'getWorksheets',
 'goToSheet',
 'goToStoryPoint',
 'setParameter',
 'updateFullData',
 'worksheets']

In [24]:
sp.getParameters()

[]

In [4]:
print(sp.getWorksheetNames())

['bed_available', 'map_total', 'doughtnut_cohort', 'doughtnut_aiir', 'isolation', 'doughtnut_total', 'bed_total', 'modified_aiir', 'moph_bed', 'province_total']

In [26]:
for ws in sp.worksheets:
    print(ws.name)
    print(ws.data)

ppe_available
   SUM(Ppe Total)-alias
0                933351
respirator_available
   SUM(Ventilator)-alias
0                   9839
map_total
   Prov Name En-value Prov Name En-alias Latitude (generated)-value  \
0            Yasothon           Yasothon                    15.8189
1                Yala               Yala                     6.1478
2           Uttaradit          Uttaradit                    17.7591
3         Uthai Thani        Uthai Thani                    15.3707
4          Udon Thani         Udon Thani                    17.4469
..                ...                ...                        ...
72           Buri Ram           Buri Ram                    14.9638
73          Bueng Kan          Bueng Kan                    18.1758
74            Bangkok            Bangkok                    13.7249
75          Ang Thong          Ang Thong                    14.6212
76      Amnat Charoen      Amnat Charoen                    15.9103

   Latitude (generated)-alias Longitude (generated)-value  \
0                       15.82                    104.2734
1                        6.15                    101.2366
2                       17.76                    100.4466
3                       15.37                     99.5595
4                       17.45                    102.8325
..                        ...                         ...
72                      14.96                    103.0636
73                      18.18                    103.6605
74                      13.72                    100.6034
75                      14.62                    100.3511
76                      15.91                    104.7302

   Longitude (generated)-alias AGG(bed_percentage)-alias
0                      104.273                 95.811518
1                      101.237                 77.617329
2                      100.447                 88.548057
3                       99.560                  88.77551
4                      102.833                 85.413745
..                         ...                       ...
72                     103.064                 94.814815
73                     103.661                      72.8
74                     100.603                 91.723709
75                     100.351                    %null%
76                     104.730                 90.592334

[77 rows x 7 columns]
doughtnut_total
  AGG(min(1))-value AGG(min(1))-alias Measure Names-alias  \
0                 1                 1       เตียงพร้อมใช้
1                 1                 1      เตียงใช้ไปแล้ว

  Measure Values-alias AGG(bed_percentage)-alias
0               32,895                 82.235444
1                7,106                         0
moph_bed
   Moph-value Moph-alias Measure Names-alias Measure Values-value  \
0           7          7      เตียงใช้ไปแล้ว                  145
1          13         13      เตียงใช้ไปแล้ว                  133
2           3          3      เตียงใช้ไปแล้ว                  367
3           2          2      เตียงใช้ไปแล้ว                  307
4           4          4      เตียงใช้ไปแล้ว                  244
5          10         10      เตียงใช้ไปแล้ว                  146
6           1          1      เตียงใช้ไปแล้ว                  532
7          11         11      เตียงใช้ไปแล้ว                 1175
8           5          5      เตียงใช้ไปแล้ว                  911
9           6          6      เตียงใช้ไปแล้ว                  817
10          8          8      เตียงใช้ไปแล้ว                  577
11         12         12      เตียงใช้ไปแล้ว                 1258
12          9          9      เตียงใช้ไปแล้ว                  494
13          7          7       เตียงพร้อมใช้                 1421
14         13         13       เตียงพร้อมใช้                 1474
15          3          3       เตียงพร้อมใช้                 1335
16          2          2       เตียงพร้อมใช้                 1607
17          4          4       เตียงพร้อมใช้                 1770
18         10         10       เตียงพร้อมใช้                 1996
19          1          1       เตียงพร้อมใช้                 1670
20         11         11       เตียงพร้อมใช้                 2045
21          5          5       เตียงพร้อมใช้                 2618
22          6          6       เตียงพร้อมใช้                 3329
23          8          8       เตียงพร้อมใช้                 4034
24         12         12       เตียงพร้อมใช้                 4391
25          9          9       เตียงพร้อมใช้                 5205

   Measure Values-alias
0                   145
1                   133
2                   367
3                   307
4                   244
5                   146
6                   532
7                 1,175
8                   911
9                   817
10                  577
11                1,258
12                  494
13                1,421
14                1,474
15                1,335
16                1,607
17                1,770
18                1,996
19                1,670
20                2,045
21                2,618
22                3,329
23                4,034
24                4,391
25                5,205
N95_available
   SUM(N95)-alias
0         3638986
Mask_available
   SUM(Surgical Mask)-alias
0                  71704366
Glove_Nitrile_all
   SUM(Glove_Nitrile_all)-alias
0                       3307455
bed_total
   SUM(Bed Total)-alias
0                 40001
province_total
    Prov Name-value Prov Name-alias Measure Names-alias Measure Values-value  \
0           อ่างทอง         อ่างทอง      เตียงใช้ไปแล้ว                    0
1         สิงห์บุรี       สิงห์บุรี      เตียงใช้ไปแล้ว                    4
2         สมุทรสาคร       สมุทรสาคร      เตียงใช้ไปแล้ว                   19
3        แม่ฮ่องสอน      แม่ฮ่องสอน      เตียงใช้ไปแล้ว                   49
4             ลำพูน           ลำพูน      เตียงใช้ไปแล้ว                   63
..              ...             ...                 ...                  ...
149         ปัตตานี         ปัตตานี       เตียงพร้อมใช้                 1054
150        นราธิวาส        นราธิวาส       เตียงพร้อมใช้                 1298
151   กรุงเทพมหานคร   กรุงเทพมหานคร       เตียงพร้อมใช้                 1474
152        สุรินทร์        สุรินทร์       เตียงพร้อมใช้                 1660
153      นครราชสีมา      นครราชสีมา       เตียงพร้อมใช้                 1627

    Measure Values-alias
0                      0
1                      4
2                     19
3                     49
4                     63
..                   ...
149                1,054
150                1,298
151                1,474
152                1,660
153                1,627

[154 rows x 5 columns]
niv_available
   SUM(NIV)-alias
0            1515

In [31]:
occupation = sp.getWorksheet('province_total')

In [34]:
df = occupation.data[['Prov Name-value', 'Measure Names-alias', 'Measure Values-value']]

In [37]:
df.columns = ['Province', 'ValueType', 'Value']

In [39]:
df = df.pivot('Province', 'ValueType', 'Value')

In [42]:
df.columns = ['Availiable', 'Occupied']

In [43]:
df

              Availiable Occupied
Province
กระบี่               303      239
กรุงเทพมหานคร       1474      133
กาญจนบุรี            952      221
กาฬสินธุ์            423       37
กำแพงเพชร            310       84
...                  ...      ...
เพชรบุรี             496       44
เพชรบูรณ์            313       85
เลย                  224       49
แพร่                 125        4
แม่ฮ่องสอน            60       49

[77 rows x 2 columns]

In [45]:
df.isna().any().any()

False